{% extends '_base.html' %}

{% block content %}
  <div class="columns">
    <div class="column">
      <h1 class="title">Cardknox integration project</h1>

      <h2 class="title">Payment form</h2>

      <div class="card">
        <div class="card-content">
          {% include '_payment_form.html' %}
        </div>
      </div>
    </div>

    <div class="column">
      <h2 class="title">Received form</h2>

      <div class="card">
        <div class="card-content">
          {{ received.as_table }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
